{% extends "base.html" %}
{% set title = "User Login Panel" %}
{% block container %}

<style type="text/css">
    .bs{
        padding: 40px;
        margin: auto;
    }
</style>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
    <div class="row form-group input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" id="inputUsername" placeholder="Username" autocomplete=off autofocus/>
    </div>
    <div class="row form-group input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
    </div>
    <div class="row form-group checkbox">
        <label><input type="checkbox" id="check-admin">Login as Administrator</label>
    </div>
    <div class="row form-group">
        <button class="btn btn-success btn-login-login"
                data-op="login"
                data-url="{{ url_for('u_login') }}"
                data-surl="{{ url_for('users') }}">Login
        </button>
        <button class="btn btn-info btn-login-signup"
                data-op="signup"
                data-url="{{ url_for('users') }}"
                data-surl="{{ url_for('users') }}">Sign Up
        </button>
    </div>
</div>

{% endblock %}
